{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Orion{% endblock %}</title>

        <!-- Styles -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
            >

        {% block css %} {% endblock %}
    </head>
    <body>

        <main class="content container">
            <header>
                <h1>Orion</h1>
            </header>
            {% if messages %}
                <section>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </section>
            {% endif %}
            {% block content %} {% endblock %}
        </main>

        {% block footer %} {% endblock %}
        {% block js %} {% endblock %}
    </body>
</html>
