{% extends "_base.html" %}
{% block title %}{% if action == 'info' %}Account Info{% elif action == 'reset-password' %}Reset Password{% else %}Confirm {{ action|title }}{% endif %}{% endblock %}

{% block content %}
<article>
    <header>
        <h2>{% if action == 'info' %}Account Information{% elif action == 'reset-password' %}Reset Password{% else %}Confirm {{ action|title }}{% endif %}</h2>
    </header>
    {% if action == 'reset-password' %}
    <p>Set a new password for the account with DID <code>{{ did }}</code>.</p>
    {% elif action != 'info' %}
    <p>Are you sure you want to <strong>{{ action }}</strong> the account with DID <code>{{ did }}</code>?</p>
    {% endif %}
    <ul>
        <li><strong>DID:</strong> <a href="https://bsky.app/profile/{{ account_info.did }}" target="_blank">{{ account_info.did }}</a></li>
        <li><strong>Handle:</strong> {{ account_info.handle }}</li>
        <li><strong>Email:</strong> {{ account_info.email }}</li>
        <li><strong>2FA Status:</strong> {% if has_enabled_2fa %}Enabled{% else %}Disabled{% endif %}</li>
        <li><strong>AppView Status:</strong> {% if account_info.appview_suspended == True %}Suspended{% elif account_info.appview_suspended == False %}Active{% else %}Unknown{% endif %}</li>
        <li><strong>Indexed at:</strong> {{ account_info.indexedAt }}</li>
        <li>(<a href="https://bsky.app/profile/{{ account_info.did }}" target="_blank">View on Bluesky</a> / <a href="https://pds.ls/at://{{ account_info.did }}" target="_blank">View on PDSLS</a>)</li>
    </ul>
    {% if action == 'info' %}
    <button onclick="location.href='{% url 'dashboard' %}'">Back</button>
    {% elif action == 'reset-password' %}
    <p>The user will need to use this new password to log in. This action cannot be undone.</p>
    <form method="post" action="{% url 'account_action' did action %}">
        {% csrf_token %}
        <label for="new_password">New Password
            <input type="password" id="new_password" name="new_password" autocomplete="new-password" required>
        </label>
        <label for="confirm_password">Confirm New Password
            <input type="password" id="confirm_password" name="confirm_password" autocomplete="new-password" required>
        </label>
        <button type="submit">Reset Password</button>
    </form>
    <button class="secondary" onclick="location.href='{% url 'dashboard' %}'" >Cancel</button>
    {% else %}
    <p>This action may be irreversible.</p>
    <form method="post" action="{% url 'account_action' did action %}">
        {% csrf_token %}
        <button type="submit">Confirm {{ action|title }}</button>
    </form>
    <button class="secondary" onclick="location.href='{% url 'dashboard' %}'" >Cancel</button>
    {% endif %}
</article>
{% endblock %}
