{% extends "_base.html" %}
{% block title %}{% if action == 'info' %}Account Info{% else %}Confirm {{ action|title }}{% endif %}{% endblock %}

{% block content %}
<article>
    <header>
        <h2>{% if action == 'info' %}Account Information{% else %}Confirm {{ action|title }}{% endif %}</h2>
    </header>
    {% if action != 'info' %}
    <p>Are you sure you want to <strong>{{ action }}</strong> the account with DID <code>{{ did }}</code>?</p>
    {% endif %}
    <ul>
        <li><strong>DID:</strong> <a href="https://bsky.app/profile/{{ account_info.did }}" target="_blank">{{ account_info.did }}</a></li>
        <li><strong>Handle:</strong> {{ account_info.handle }}</li>
        <li><strong>Email:</strong> {{ account_info.email }}</li>
        <li><strong>2FA Status:</strong> {% if has_enabled_2fa %}Enabled{% else %}Disabled{% endif %}</li>
        <li><strong>Indexed at:</strong> {{ account_info.indexedAt }}</li>
        <li>(<a href="https://bsky.app/profile/{{ account_info.did }}" target="_blank">View on Bluesky</a> / <a href="https://pds.ls/at://{{ account_info.did }}" target="_blank">View on PDSLS</a>)</li>
    </ul>
    {% if action == 'info' %}
    <button onclick="location.href='{% url 'dashboard' %}'">Back</button>
    {% else %}
    <p>This action may be irreversible.</p>
    <form method="post" action="{% url 'account_action' did action %}">
        {% csrf_token %}
        <button type="submit">Confirm {{ action|title }}</button>
    </form>
    <button class="secondary" onclick="location.href='{% url 'dashboard' %}'" >Cancel</button>
    {% endif %}
</article>
{% endblock %}
