{% extends "_base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Welcome to Orion!</h1>
    </header>
    <p>This dashboard provides an overview of the PDS and lets you take administrative actions</p>
    <button onclick="location.href='{% url 'audit_log' %}'">Audit Log</button>
    <button onclick="location.href='{% url 'change_password' %}'">Change Password</button>
    <button onclick="location.href='{% url 'logout' %}'">Log out</button>
    <footer>
        <p>Beware! Actions may be irreversible.</p>
    </footer>
</article>

<article>
    <header>
        <h2>Service health</h2>
    </header>
    {% if is_service_healthy %}
        <p>All systems are operational.</p>
    {% else %}
        <p>PDS is experiencing issues!</p>
    {% endif %}
</article>
<article>
    <header>
        <h2>Accounts</h2>
    </header>
    {% if accounts %}
        <p>There are {{ accounts|length }} accounts (repos) in the PDS.</p>
        <table class="striped">
            <thead>
                <tr>
                    <th>Handle</th>
                    <th>DID</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.handle }}</td>
                    <td>{{ account.did }}</td>
                    <td>
                        {% if account.active %}
                            Active
                        {% else %}
                            {{ account.status.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if account.status == 'takendown' %}
                            <a href="{% url 'account_action' account.did 'untakedown' %}" role="button" class="secondary">Untakedown</a>
                        {% else %}
                            <a href="{% url 'account_action' account.did 'takedown' %}" role="button" class="secondary">Takedown</a>
                        {% endif %}
                        <a href="{% url 'account_action' account.did 'delete' %}" role="button" class="secondary">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No accounts found!</p>
    {% endif %}
</article>
{% endblock %}
